@import url(https://fonts.googleapis.com/css?family=Oswald:400,300);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
body
{
    font-family: 'Open Sans', sans-serif;
    }
.popup-box {
   background-color: #ffffff;
    border: 1px solid #b0b0b0;
    bottom: 0;
    display: none;
    height: 415px;
    position: fixed;
    right: 400px;
    width: 300px;
    font-family: 'Open Sans', sans-serif;
}
.popup-box-on {
    display: block !important;
}
.popup-box .popup-head {
    background-color: #fff;
    clear: both;
    color: #7b7b7b;
    display: inline-table;
    font-size: 21px;
    padding: 7px 10px;
    width: 100%;
    font-family: Oswald;
}

.top-header {
    background: #666;
    color: white;
    padding: 0.2rem;
    position: relative;
    overflow: hidden;
    border-bottom: 4px solid #35ac19;
  }
  /*.top-header:hover {
    background-color:#35ac19;
  }*/

.popup-head-left img {
    border: 1px solid #7b7b7b;
    border-radius: 50%;
    width: 44px;
}

.popup-box .popup-head .popup-head-right {
    margin: 11px 7px 0;
}
.popup-head-right .btn-group {
    display: inline-flex;
	margin: 0 8px 0 0;
	vertical-align: top !important;
}
.chat-header-button {
    background: transparent none repeat scroll 0 0;
    border: 1px solid #636364;
    /*border-radius: 50%;*/
    font-size: 14px;
    height: 30px;
    width: 30px;
}

.popup-box .popup-messages {
    background: lightslategrey url('../../assets/bg-pattern.png') repeat;
    height: 300px;
    overflow: auto;
}
.direct-chat-messages {
    overflow: auto;
    padding: 10px;
    transform: translate(0px, 0px);
    
}
.popup-messages .chat-box-single-line {
    border-bottom: 1px solid #a4c6b5;
    height: 12px;
    margin: 7px 0 20px;
    position: relative;
    text-align: center;
}

.popup-messages abbr.timestamp {
    background: #3f9684 none repeat scroll 0 0;
    color: #fff;
    padding: 0 11px;
}

.popup-messages .direct-chat-info {
    display: block;
    font-size: 12px;
    margin-bottom: 0;
}
.popup-messages .direct-chat-name {
	font-size: 15px;
	font-weight: 600;
	margin: 0 0 0 49px !important;
	color: #fff;
	opacity: 0.9;
}
.popup-messages  .direct-chat-img {
    border: 1px solid #fff;
	background: #3f9684  none repeat scroll 0 0;
    border-radius: 50%;
    float: left;
    height: 40px;
    margin: -21px 0 0;
    width: 40px;
}
.popup-messages .direct-chat-text {
    background: #dfece7 none repeat scroll 0 0;
    border: 1px solid #dfece7;
    border-radius: 2px;
    color: #1f2121;
    margin: 5px 0 0 50px;
    padding: 5px 10px;
    position: relative;
}
.direct-chat-text::after, .direct-chat-text::before {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: transparent #d2d6de transparent transparent;
    border-image: none;
    border-style: solid;
    border-width: 5px;
    content: " ";
    height: 0;
    pointer-events: none;
    position: absolute;
    right: 100%;
    top: 15px;
    width: 0;
    margin-top: -5px;
}

.popup-messages .direct-chat-timestamp {
    color: #fff;
    opacity: 0.6;
}

.popup-messages-footer > textarea {
    border-bottom: 1px solid #b2b2b2 !important;
    height: 34px !important;
    margin: 7px;
    padding: 5px !important;
     border: medium none;
    width: 95% !important;
}
.popup-messages-footer {
    background: #fff none repeat scroll 0 0;
    bottom: 0;
    position: absolute;
    width: 100%;
}
.popup-messages-footer .btn-footer {
    overflow: hidden;
    padding: 2px 5px 10px 6px;
    width: 100%;
}

.popup-messages abbr.timestamp {
    background: #3f9684  none repeat scroll 0 0;
    color: #fff;
    padding: 0 11px;
}
.popup-messages .chat-box-single-line {
    border-bottom: 1px solid #a4c6b5;
    height: 12px;
    margin: 7px 0 20px;
    position: relative;
    text-align: center;
}
.popup-messages .direct-chat-messages {
    height: auto;
}

.popup-messages .direct-chat-msg::after {
    background: #fff none repeat scroll 0 0;
    border-right: medium none;
    bottom: 0;
    content: "";
    left: 17px;
    margin: 0;
    position: absolute;
    top: 0;
    width: 2px;
	display: inline;
	z-index: -2;
}

.text-right{
 text-align: right;
}
.text-left {
    text-align: left
}

.firechat {
   list-style: none;
    margin: 0;
    padding: 0 0 50px 0;
    overflow-y: auto;
}
.firechat li {
    padding: 0.5rem;
    overflow: hidden;
    display: flex;
}

 .firechat .avatar-icon {
    width: 40px;
    position: relative;
  }
  .firechat .avatar-icon img {
    display: block;
    width: 100%;
    background-color:#1469A6;
  }
  .another .avatar-icon:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border: 5px solid white;
    border-left-color: transparent;
    border-bottom-color: transparent;
  }
  .me {
    justify-content: flex-end;
    align-items: flex-end;
  }
  .me .messages {
    order: 1;
    border-bottom-right-radius: 0;
  }
  .me .avatar-icon {
    order: 2;
  }
  .me .avatar-icon:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border: 5px solid white;
    border-right-color: transparent;
    border-top-color: transparent;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  }
  .messages {
    background: white;
    padding: 10px;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  }
  .messages p {
    font-size: 1.3rem;
    margin: 0 0 0.2rem 0;
  }
  .messages time {
    font-size: 0.9rem;
    color: #ccc;
  }

::-webkit-scrollbar{height:14px;width:10px;background:#eee;border-left:1px solid #ddd}
::-webkit-scrollbar-thumb{background:#ddd;border:1px solid #cfcfcf}
::-webkit-scrollbar-thumb:hover{background:#b2b2b2;border:1px solid #b2b2b2}
::-webkit-scrollbar-thumb:active{background:#b2b2b2;border:1px solid #b2b2b2}
@-webkit-keyframes pulse {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
}