<div class="popup-box chat-popup" [ngClass]="{'popup-box-on': show}">
  <div class="xpopup-head top-header">
    <div class="popup-head-left pull-left" *ngIf="friendUser">
      <img [src]="friendUser.photoUrl" [alt]="friend.displayName"> {{friendUser.displayName}}
    </div>
    <div class="popup-head-right pull-right">
      <button data-widget="remove" id="removeClass" class="chat-header-button pull-right" type="button" (click)="hide()"><i class="fa fa-times"></i></button>
    </div>
  </div>
  <div class="popup-messages" *ngIf="chat.messages" #scrollMe style="overflow: scroll;overflow-x: hidden; ">
    <div class="direct-chat-messages" *ngFor="let key of chat.messageBucket | keys">
      <div class="chat-box-single-line">
        <abbr class="timestamp">{{key | amCalendar}}</abbr>
      </div>
      <!-- Message. Default to the left -->
      <div >

        <ol class="firechat">
          <li [ngClass]="{'another': message.from == friend.id, 'me': message.from !=friend.id}" *ngFor="let message of chat.messageBucket[key]; let i = index">
            <div class='avatar-icon'>
              <img [src]="chat.users[message.from].photoUrl" >
            </div>
            <div class='messages'>
              <p><span [innerHTML]="message.message | linky"></span></p>
              <time>{{chat.users[message.from].displayName}} • {{message.time| date:'yyyy-MM-dd HH:mm:ss Z' | amTimeAgo}}</time>
            </div>
          </li>
        </ol>


        <!--<div class="direct-chat-info clearfix">
          <span class="direct-chat-name pull-left">{{chat.users[message.from].displayName}}</span>
        </div>
        <img alt="message user image" [src]="chat.users[message.from].photoUrl" class="direct-chat-img">
        <div class="direct-chat-text">
          <span [innerHTML]="message.message | linky" [ngClass]="{'text-right':message.from != friend.id}"></span>
        </div>
        <div class="direct-chat-info clearfix" *ngIf="chat.messages.length-1 == i">
          <span class="direct-chat-timestamp pull-right">
          <span *ngIf="!message.read && chat.messages[chat.messages.length-1].to == friend.id" style="color:white">Delivered</span>
          <span *ngIf="message.read && message.from != friend.id" style="color:white">Read</span>
          <span *ngIf="!message.read || chat.messages[chat.messages.length-1].from == friend.id"> {{message.time| date:'yyyy-MM-dd HH:mm:ss Z' | amTimeAgo}}</span>
          <span *ngIf="message.read && chat.messages[chat.messages.length-1].to == friend.id"> {{message.readAt |date:'yyyy-MM-dd HH:mm:ss Z' | amTimeAgo}}</span>
          </span>
        </div>-->

      </div>
      <!-- /.d2irect-chat-msg -->

    </div>
  </div>
  <div class="popup-messages-footer">
    <!--<textarea id="status_message" placeholder="Type a message..." rows="10" cols="40" name="message"></textarea>-->
    <div *ngIf="friend.typing">
      {{friend.displayName}} is typing
    </div>
    <div class="input-group">
      <input type="text" class="form-control" [(ngModel)]="message" (blur)="setFocus(false)" (focus)="setFocus(true)" placeholder="Type a message"
        (keyup.enter)="send()" />
      <span class="input-group-addon" (click)="send()" style="cursor:pointer"><i class="glyphicon glyphicon-send"></i></span>
    </div>

  </div>
</div>