<div class="col-sm-4">
<div class="popup-box">
  <div class="panel panel-default">
    <div class="panel-heading">
      Friends
    </div>
    <div class="panel-body">
      <ul *ngFor="let friend of dashboard.friends" class="list-unstyled">
        <li><a href="javascript:void(0)" (click)="selectedFriend = friend">{{friend.displayName}}</a></li>
      </ul>
    </div>
    <div class="panel-footer">
      <div class="input-group">
        <input type="text" class="form-control" [(ngModel)] ="email" placeholder="Invite new gmail user email" />
        <span class="input-group-addon" (click)="inviteUser()" ><i class="glyphicon glyphicon-send"></i></span>
      </div>
    </div>
  </div>
</div>
</div>

<div *ngIf="selectedFriend">
    <chat-box  [friend] = "selectedFriend" (destroy)="onDestroy($event)"></chat-box>
</div>